USE [zozoDB]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 10.03.2024 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[idAppointment] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[idParrentAppointments] [int] NULL,
	[referralText] [nvarchar](100) NULL,
	[idPatient] [int] NOT NULL,
	[idDoctor] [int] NOT NULL,
	[diagnosis] [nvarchar](100) NULL,
	[DevelopmentRealDisease] [nvarchar](100) NULL,
	[objectiveResearchData] [nvarchar](100) NULL,
	[bite] [nvarchar](100) NULL,
	[conditionCavity] [nvarchar](100) NULL,
	[dataXrayStudies] [nvarchar](200) NULL,
	[treatment] [nvarchar](200) NULL,
	[treatmentResults] [nvarchar](200) NULL,
	[Instructions] [nvarchar](100) NULL,
	[IdheadsDepartment] [int] NULL,
 CONSTRAINT [PK_appointments] PRIMARY KEY CLUSTERED 
(
	[idAppointment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[complaints]    Script Date: 10.03.2024 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[complaints](
	[idComplaint] [int] NOT NULL,
	[idAppointment] [int] NOT NULL,
	[descriptionComplaint] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_complaints] PRIMARY KEY CLUSTERED 
(
	[idComplaint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diseases]    Script Date: 10.03.2024 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diseases](
	[idDisease] [int] NOT NULL,
	[descriptionDisease] [nvarchar](100) NOT NULL,
	[idUser] [int] NOT NULL,
 CONSTRAINT [PK_diseases] PRIMARY KEY CLUSTERED 
(
	[idDisease] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oralCavity]    Script Date: 10.03.2024 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oralCavity](
	[idOralCavity] [int] NOT NULL,
	[appointmentsId] [int] NOT NULL,
	[position] [nvarchar](100) NOT NULL,
	[number] [int] NOT NULL,
	[hygiene] [nvarchar](100) NOT NULL,
	[dentalDystopia] [nvarchar](100) NOT NULL,
	[gingivalRecession] [nvarchar](100) NOT NULL,
	[gma] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_oralCavity] PRIMARY KEY CLUSTERED 
(
	[idOralCavity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialistes]    Script Date: 10.03.2024 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialistes](
	[Idspecialist] [int] NOT NULL,
	[lastname] [nvarchar](100) NOT NULL,
	[firstname] [nvarchar](100) NOT NULL,
	[patronimyc] [nvarchar](100) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[imgName] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_headsDepartment] PRIMARY KEY CLUSTERED 
(
	[Idspecialist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.03.2024 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] NOT NULL,
	[login] [nvarchar](20) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[lastname] [nvarchar](100) NOT NULL,
	[firstname] [nvarchar](100) NOT NULL,
	[patronymic] [nvarchar](100) NOT NULL,
	[date] [date] NOT NULL,
	[sex] [int] NOT NULL,
	[geolocation] [nvarchar](100) NOT NULL,
	[telephon] [nvarchar](20) NOT NULL,
	[profession] [nvarchar](100) NULL,
	[imgName] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [FK_appointments_headsDepartment] FOREIGN KEY([IdheadsDepartment])
REFERENCES [dbo].[specialistes] ([Idspecialist])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [FK_appointments_headsDepartment]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [FK_appointments_Users] FOREIGN KEY([idPatient])
REFERENCES [dbo].[Users] ([idUser])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [FK_appointments_Users]
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD  CONSTRAINT [FK_complaints_appointments] FOREIGN KEY([idAppointment])
REFERENCES [dbo].[appointments] ([idAppointment])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[complaints] CHECK CONSTRAINT [FK_complaints_appointments]
GO
ALTER TABLE [dbo].[diseases]  WITH CHECK ADD  CONSTRAINT [FK_diseases_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[diseases] CHECK CONSTRAINT [FK_diseases_Users]
GO
ALTER TABLE [dbo].[oralCavity]  WITH CHECK ADD  CONSTRAINT [FK_oralCavity_appointments] FOREIGN KEY([appointmentsId])
REFERENCES [dbo].[appointments] ([idAppointment])
GO
ALTER TABLE [dbo].[oralCavity] CHECK CONSTRAINT [FK_oralCavity_appointments]
GO
